body {
    background-color: aliceblue;
    font-family: Calibri;
}

h1 {
    color: darkgreen;
    font-size: 42px;
}

.produto {
    color: darkred;
    font-size: 32px;
}

#marca {
    color: darkmagenta;
    font-size: 28px;
    text-align: right;
}

img {
    height: 110px;
    width: 110px;
}

.sumario {
    text-align: center;
}